* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --dark-grey: #15172b;
    --light-grey: #303245;
    --grey-text: #65657b;
    --purple: #a299ad;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

h1 {
    color: white;
   margin-left: auto;
}

header {
    height: 9vh;
    background-color: var(--dark-grey);
    display: flex;
    align-items: center;
    padding: 40px;
}

.container {
    padding: 2.5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2em;
    }

button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    min-width: 150px;
    height: 50px;
    font-size: 1em;
}

button:hover {
    transform: scale(1.05);
}

dialog {
    margin: 100px auto;
    width: 30%;
    background-color: var(--dark-grey);
    border: none;
    border-radius: 15px;
    padding: 20px;
}

dialog::backdrop {
    background-color: white;
    opacity: 85%;
  }

.close-dialog {
    cursor: pointer;
    display: inline-block;
    color: white;
    margin-left: auto;
}

h3 {
    color: white;
    font-size: 36px;
    text-align: center;
    margin: 20px;
}

ul {
    padding: 0;
    width: 80%;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-input {
    list-style: none;
    margin: auto;
    }

.text-input {
    background-color: var(--light-grey);
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 12px;
    outline: 0;
    padding: 4px 20px 0;
    height: 50px;
    margin: 5px 0;
    width: 100%;
 }

 .bottom-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.slider-section {
    margin: 15px 0;
    border: none;
    display: flex;
    color: white;
  }

.unread {
    color:rgb(143, 140, 140);
}

.submit {
    width: 80%;
    margin: 15px
}
 .card {
    color: white;
    background-color: var(--dark-grey);
    border: none;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1em;
 }

.card-title, .card-author, .card-pages {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

 .new-book {
    margin-left: auto;
 }

 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked+.slider {
    background-color: #66bb6a;
  }
  
 
  input:checked+.slider:before {
    transform: translateX(26px);
  }
  
 
 .read-option, .read-selection {
    margin: 5px 10px;
  }

  .remove-button {
    margin-right: 25px;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px #333;
    overflow: hidden;
    transition: .3s;
  }